{% extends 'model.html' %}
 

 {% block title %}Adventure{% endblock %}
 {% block container %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/a4FV2WC5M6Yuif4do7pqCtAwZI0=/206x305/v1.bTsxMjg3Mzk0NDtqOzE3OTI0OzEyMDA7Mjc2NDs0MDk2" width="50" height="50">
      <div class="caption">
        <h3>FANTASTIC BEASTS: THE CRIMES OF GRINDELWALD</h3>
        <p>At the end of the first film, the powerful Dark wizard Gellert Grindelwald (Depp) was captured by MACUSA (Magical Congress of the United States of America), with the help of Newt Scamander (Redmayne). But, making good on his threat, Grindelwald escaped custody and has set about gathering followers, most unsuspecting of his true agenda: to raise pure-blood wizards up to rule over all non-magical beings. In an effort to thwart Grindelwald's plans, Albus Dumbledore (Law) enlists his former student Newt Scamander, who agrees to help, unaware of the dangers that lie ahead. Lines are drawn as love and loyalty are tested, even among the truest friends and family, in an increasingly divided wizarding world.<br>
Rating: PG-13 (for some sequences of fantasy action)<br>
Genre:  Action & Adventure, Kids & Family, Science Fiction & Fantasy<br>
Directed By:  David Yates (II)<br>
Written By: J.K. Rowling<br>
In Theaters:  Nov 16, 2018  Wide<br>
Runtime:  134 minutes<br>
Studio: Warner Bros. Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=hosyW3Y2iHw" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/m5Hajslqmsg6uo7Nci5B5d7O5tk=/206x305/v1.bTsxMjg1NDM4NztqOzE3OTIzOzEyMDA7MzE1ODs1MDAw" width="50" height="50">
      <div class="caption">
        <h3>THE GRINCH</h3>
        <p>Each year at Christmas they disrupt his tranquil solitude with their increasingly bigger, brighter and louder celebrations. When the Whos declare they are going to make Christmas three times bigger this year, the Grinch realizes there is only one way for him to gain some peace and quiet: he must steal Christmas. To do so, he decides he will pose as Santa Claus on Christmas Eve, even going so far as to trap a lackadaisical misfit reindeer to pull his sleigh. Meanwhile, down in Who-ville, Cindy-Lou Who-a young girl overflowing with holiday cheer-plots with her gang of friends to trap Santa Claus as he makes his Christmas Eve rounds so that she can thank him for help for her overworked single mother. As Christmas approaches, however, her good-natured scheme threatens to collide with the Grinch's more nefarious one. Will Cindy-Lou achieve her goal of finally meeting Santa Claus? Will the Grinch succeed in silencing the Whos' holiday cheer once and for all?<br>
Rating: PG (for brief rude humor)<br>
Genre:  Animation, Kids & Family, Science Fiction & Fantasy<br>
Directed By:  Scott Mosier, Yarrow Cheney<br>
Written By: Michael LeSieur, Tommy Swerdlow<br>
In Theaters:  Nov 9, 2018  Wide<br>
Runtime:  86 minutes<br>
Studio: Universal Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=x5nsBzQJNjU" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/krt5gYzWeBm3mUO8DaW0_CVQ5h4=/206x305/v1.bTsxMjc0MjEwMTtqOzE3OTIyOzEyMDA7ODE5OzEwMjQ" width="50" height="50">
      <div class="caption">
        <h3>BOHEMIAN RHAPSODY</h3>
        <p>Bohemian Rhapsody is a foot-stomping celebration of Queen, their music and their extraordinary lead singer Freddie Mercury, who defied stereotypes and shattered convention to become one of the most beloved entertainers on the planet. The film traces the meteoric rise of the band through their iconic songs and revolutionary sound, their near-implosion as Mercury's lifestyle spirals out of control, and their triumphant reunion on the eve of Live Aid, where Mercury, facing a life-threatening illness, leads the band in one of the greatest performances in the history of rock music. In the process, cementing the legacy of a band that were always more like a family, and who continue to inspire outsiders, dreamers and music lovers to this day.<br>
Rating: PG-13 (for thematic elements,suggestive material, drug content and language)<br>
Genre:  Drama<br>
Directed By:  Bryan Singer<br>
Written By: Anthony McCarten<br>
In Theaters:  Nov 2, 2018  Wide<br>
Box Office: $89,604<br>
Runtime:  134 minutes<br>
Studio: 20th Century Fox</p>
        <p><a href="https://www.youtube.com/watch?v=pxvT_4JWHvE" role="button">Preview</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/5ORXLrYMt79oCHGhD91XoYg3yHU=/206x305/v1.bTsxMjg2ODY3NDtqOzE3OTIzOzEyMDA7MTg2NDsyNzUx" width="50" height="50">
      <div class="caption">
        <h3>INSTANT FAMILY</h3>
        <p>When Pete (Mark Wahlberg) and Ellie (Rose Byrne) decide to start a family, they stumble into the world of foster care adoption. They hope to take in one small child but when they meet three siblings, including a rebellious 15 year old girl (Isabela Moner), they find themselves speeding from zero to three kids overnight. Now, Pete and Ellie must hilariously try to learn the ropes of instant parenthood in the hopes of becoming a family. INSTANT FAMILY is inspired by the real events from the life of writer/director Sean Anders and also stars Octavia Spencer, Tig Notaro and Margo Martindale.<br>
Rating: PG-13 (for thematic elements, sexual material, language and some drug referencees)<br>
Genre:  Comedy<br>
Directed By:  Sean Anders<br>
Written By: Sean Anders, John Morris<br>
In Theaters:  Nov 16, 2018  Wide<br>
Runtime:  117 minutes<br>
Studio: Paramount Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=IUfZq3DUd3Y" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/i8IAZ4j116msHcizDSZp-LIKIxk=/206x305/v1.bTsxMjg0MDk4NDtqOzE3OTIzOzEyMDA7NDgwMDs3NjAw" width="50" height="50">
      <div class="caption">
        <h3>WIDOWS</h3>
        <p>From Academy Award (R)-winning director Steve McQueen ("12 Years a Slave") and co-writer and bestselling author Gillian Flynn ("Gone Girl") comes a blistering, modern-day thriller set against the backdrop of crime, passion and corruption. "Widows" is the story of four women with nothing in common except a debt left behind by their dead husbands' criminal activities. Set in contemporary Chicago, amid a time of turmoil, tensions build when Veronica (Oscar (R) winner Viola Davis), Alice (Elizabeth Debicki), Linda (Michelle Rodriguez) and Belle (Cynthia Erivo) take their fate into their own hands and conspire to forge a future on their own terms. "Widows" also stars Liam Neeson, Colin Farrell, Robert Duvall, Daniel Kaluuya, Lukas Haas and Brian Tyree Henry.<br>
Rating: R (for violence, language throughout, and some sexual content/nudity)<br>
Genre:  Drama<br>
Directed By:  Steve McQueen (III)<br>
Written By: Steve McQueen (III), Gillian Flynn<br>
In Theaters:  Nov 16, 2018  Wide<br>
Runtime:  128 minutes<br>
Studio: 20th Century Fox</p>
        <p><a href="https://www.youtube.com/watch?v=nN2yBBSRC78" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/WIgC0MrDnGjV_Kftf7AGohzlI4I=/206x305/v1.bTsxMjgxODk5NjtqOzE3OTIzOzEyMDA7MTAxNDsxNTAw" width="50" height="50">
      <div class="caption">
        <h3>THE NUTCRACKER AND THE FOUR REALMS</h3>
        <p>All Clara (Mackenzie Foy) wants is a key - a one-of-a-kind key that will unlock a box that holds a priceless gift from her late mother. A golden thread, presented to her at godfather Drosselmeyer's (Morgan Freeman) annual holiday party, leads her to the coveted key, which promptly disappears into a strange and mysterious parallel world. It's there that Clara encounters a soldier named Phillip (Jayden Fowora-Knight), a gang of mice and the regents who preside over three Realms: Land of Snowflakes, Land of Flowers and Land of Sweets. Clara and Phillip must brave the ominous Fourth Realm, home to the tyrant Mother Ginger (Helen Mirren), to retrieve Clara's key and hopefully return harmony to the unstable world.<br>
Rating: PG (for some mild peril)<br>
Genre:  Action & Adventure, Kids & Family, Science Fiction & Fantasy<br>
Directed By:  Lasse Hallstrom, Joe Johnston<br>
Written By: Ashleigh Powell, Simon Beaufoy<br>
In Theaters:  Nov 2, 2018  Wide<br>
Runtime:  99 minutes<br>
Studio: Walt Disney Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=-gzN5RYi2eM" role="button">Preview</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}