{% extends 'model.html' %}
 

 {% block title %}Comedy{% endblock %}
 {% block container %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/tVHVm28U7NrTZn3KKwm18a5cQgU=/206x305/v1.bTsxMjc2MTM0NTtqOzE3OTIyOzEyMDA7NTA5Ozc1NQ" width="50" height="50">
      <div class="caption">
        <h3>A STAR IS BORN</h3>
        <p>In "A Star Is Born," Bradley Cooper and Lady Gaga fuse their considerable talents to depict the raw and passionate tale of Jack and Ally, two artistic souls coming together, on stage and in life. Theirs is a complex journey through the beauty and the heartbreak of a relationship struggling to survive. In this new take on the iconic love story, four-time Oscar nominee Cooper ("American Sniper," "American Hustle," "Silver Linings Playbook"), makes his directorial debut, and also stars alongside multiple award-winning, Oscar-nominated music superstar Gaga in her first leading role in a major motion picture. Cooper portrays seasoned musician Jackson Maine, who discovers and falls in love with struggling artist Ally. She has given up on her dream to become a successful singer, until she meets Jack, who immediately sees her natural talent.<br>
Rating: R (for language throughout, some sexuality/nudity and substance abuse)<br>
Genre:  Drama<br>
Directed By:  Bradley Cooper<br>
Written By: Will Fetters, Eric Roth, Bradley Cooper<br>
In Theaters:  Oct 5, 2018  Wide<br>
Runtime:  135 minutes<br>
Studio: Warner Bros. Pictures</p>
        <p><a href="https://www.bilibili.com/video/av28842761/" role="button">Preview</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/rKF5E1xg6vw9sY5wTYnO-e82YsE=/206x305/v1.bTsxMjg1MDA0NDtqOzE3OTIzOzEyMDA7MTMxMTsyMDQ4" width="50" height="50">
      <div class="caption">
        <h3>OVERLORD</h3>
        <p>With only hours until D-Day, a team of American paratroopers drop into Nazi-occupied France to carry out a mission that's crucial to the invasion's success. Tasked with destroying a radio transmitter atop a fortified church, the desperate soldiers join forces with a young French villager to penetrate the walls and take down the tower. But, in a mysterious Nazi lab beneath the church, the outnumbered G.I.s come face-to-face with enemies unlike any the world has ever seen. From producer J.J. Abrams, Overlord is a thrilling, pulse-pounding action adventure with a twist.<br>
Rating: R (for strong bloody violence, disturbing images, language, and brief sexual content.)<br>
Genre:  Action & Adventure, Horror, Mystery & Suspense<br>
Directed By:  Julius Avery<br>
Written By: Mark L. Smith, Billy Ray<br>
In Theaters:  Nov 9, 2018  Wide<br>
Runtime:  109 minutes<br>
Studio: Paramount Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=USPd0vX2sdc" role="button">Preview</a> </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/gIV_16eFtcveaZQAJENgXkDXiH4=/206x305/v1.bTsxMjg1MzQ0MjtqOzE3OTIzOzEyMDA7NjMyOzk2MA" width="50" height="50">
      <div class="caption">
        <h3>THE GIRL IN THE SPIDER'S WEB</h3>
        <p>Lisbeth Salander, the cult figure and title character of the acclaimed Millennium book series created by Stieg Larsson, will return to the screen in The Girl in the Spider's Web, a first-time adaptation of the recent global bestseller.<br>
Rating: R (for violence, language and some sexual content/nudity)<br>
Genre:  Drama<br>
Directed By:  Fede Alvarez<br>
Written By: Steven Knight, Fede Alvarez, Jay Basu<br>
In Theaters:  Nov 9, 2018  Wide<br>
Studio: Columbia Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=vIDD4oeaXqA" role="button">Preview</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/u9w-K6v8RqGEb1EUaiF8gdTbmVk=/206x305/v1.bTsxMjgyNDY3NTtqOzE3OTIzOzEyMDA7MzQ4MTs1MjUw" width="50" height="50">
      <div class="caption">
        <h3>NOBODY'S FOOL</h3>
        <p>Trying to get back on her feet, wild child Tanya (Tiffany Haddish) looks to her buttoned-up, by the book sister Danica (Tika Sumpter) to help her get back on track. As these polar opposites collide -- with hilarious and sometimes disastrous results -- Tanya discovers that Danica's picture-perfect life -- including her mysterious boyfriend -- may not be what it seems.<br>
Rating: R (for sexual content and language throughout, and for drug material)
Genre:  Comedy<br>
Directed By:  Tyler Perry<br>
Written By: Tyler Perry<br>
In Theaters:  Nov 2, 2018  Wide<br>
Runtime:  110 minutes<br>
Studio: Paramount Pictures</p>
        <p><a href="www.youtube.com/watch?v=qH9C9_WsmLA" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/0MB9r6B4KH1wVA4vf1dECVri3VU=/206x305/v1.bTsxMjg3Mzk0MTtqOzE3OTI0OzEyMDA7Mjk5OzQ0Mw" width="50" height="50">
      <div class="caption">
        <h3>BOY ERASED</h3>
        <p>"Boy Erased" tells the story of Jared (Hedges), the son of a Baptist pastor in a small American town, who is outed to his parents (Kidman and Crowe) at age 19. Jared is faced with an ultimatum: attend a conversion therapy program - or be permanently exiled and shunned by his family, friends, and faith. Boy Erased is the true story of one young man's struggle to find himself while being forced to question every aspect of his identity.<br>
Rating: R (for sexual content including an assault, some language and brief drug use)<br>
Genre:  Drama<br>
Directed By:  Joel Edgerton<br>
Written By: Joel Edgerton<br>
In Theaters:  Nov 2, 2018  Limited<br>
Runtime:  111 minutes<br>
Studio: Focus Features</p>
        <p><a href="https://www.bilibili.com/video/av27242624/" role="button">Preview</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/a9ZiXiAVlv1hGK9IAZ83PSKvbw4=/206x305/v1.bTsxMjY4ODEzMztqOzE3OTIxOzEyMDA7NDkxOzczMA" width="50" height="50">
      <div class="caption">
        <h3>CAN YOU EVER FORGIVE ME?</h3>
        <p>In CAN YOU EVER FORGIVE ME?, Melissa McCarthy stars as Lee Israel, the best-selling celebrity biographer (and cat lover) who made her living in the 1970's and 80's profiling the likes of Katharine Hepburn, Tallulah Bankhead, Estée Lauder and journalist Dorothy Kilgallen. When Lee found herself unable to get published because she had fallen out of step with the marketplace, she turned her art form to deception, abetted by her loyal friend Jack (Richard E. Grant).<br>
Rating: R (for language including some sexual references, and brief drug use)<br>
Genre:  Comedy, Drama<br>
Directed By:  Marielle Heller<br>
Written By: Nicole Holofcener, Jeff Whitty<br>
In Theaters:  Oct 19, 2018  Limited<br>
Runtime:  107 minutes<br>
Studio: Fox Searchlight Pictures</p>
        <p><a href="https://www.bilibili.com/video/av22132648/" class="btn btn-primary" role="button">Preview</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}