{% extends 'model.html' %}
 

 {% block title %}Drama{% endblock %}
 {% block container %}
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/u84C1nAeEvYPYQDXDNKm6-ewDJk=/206x305/v1.bTsxMjgyMzMzODtqOzE3OTIzOzEyMDA7MzE1ODs1MDAw" width="50" height="50">
      <div class="caption">
        <h3>GREEN BOOK</h3>
        <p>When Tony Lip (Mortensen), a bouncer from an Italian-American neighborhood in the Bronx, is hired to drive Dr. Don Shirley (Ali), a world-class Black pianist, on a concert tour from Manhattan to the Deep South, they must rely on "The Green Book" to guide them to the few establishments that were then safe for African-Americans. Confronted with racism, danger-as well as unexpected humanity and humor-they are forced to set aside differences to survive and thrive on the journey of a lifetime.<br>
Rating: PG-13 (for thematic content, language including racial epithets, smoking, some violence and suggestive material)<br>
Genre:  Drama<br>
Directed By:  Peter Farrelly<br>
Written By: Nick Vallelonga, Peter Farrelly, Brian Currie<br>
In Theaters:  Nov 21, 2018  Wide<br>
Runtime:  130 minutes<br>
Studio: Universal Pictures</p>
        <p><a href="https://www.bilibili.com/video/av29439399/" role="button">Preview</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/XFr3soYv5FrI4gwYhifUNU_HUTQ=/206x305/v1.bTsxMjgwNTgxMDtqOzE3OTIzOzEyMDA7NzU4OzEyMDA" width="50" height="50">
      <div class="caption">
        <h3>FIRST MAN</h3>
        <p>On the heels of their six-time Academy Award (R)-winning smash, La La Land, Oscar (R)-winning director Damien Chazelle and star Ryan Gosling reteam for Universal Pictures' First Man, the riveting story of NASA's mission to land a man on the moon, focusing on Neil Armstrong and the years 1961-1969. A visceral, first-person account, based on the book by James R. Hansen, the movie will explore the sacrifices and the cost on Armstrong and on the nation of one of the most dangerous missions in history.<br>
Rating: PG-13 (for some thematic content involving peril, and brief strong language)<br>
Genre:  Drama<br>
Directed By:  Damien Chazelle<br>
Written By: Josh Singer<br>
In Theaters:  Oct 12, 2018  Wide<br>
Runtime:  138 minutes<br>
Studio: Universal Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=kz0AOw36m58" role="button">Preview</a> </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/jLckk4lmvpiwDPRcRQ2oLQcCabg=/206x305/v1.bTsxMjc3OTkxNDtqOzE3OTIyOzEyMDA7MjcxOzQwMg" width="50" height="50">
      <div class="caption">
        <h3>JOHNNY ENGLISH STRIKES AGAIN</h3>
        <p>Rowan Atkinson returns as the much-loved accidental secret agent in "Johnny English Strikes Again". When a cyber-attack reveals the identity of all active undercover agents in Britain, the country's only hope is called out of retirement. English's new mission is his most critical to date: Dive head first into action to find the mastermind hacker. A man with few skills and analogue methods, English must overcome the challenges of modern technology-or his newest mission will become the Secret Service's last.<br>
Rating: PG (for some action violence, rude humor, language and brief nudity)<br>
Genre:  Comedy<br>
Directed By:  David Kerr<br>
Written By: William Davies<br>
In Theaters:  Oct 26, 2018  Wide<br>
Runtime:  88 minutes<br>
Studio: Universal Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=OFyCuzYCd_U" role="button">Preview</a> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/vTzazPQLxMu1zEpx62uHydybKF0=/206x305/v1.bTsxMjgwNDQwNztqOzE3OTIzOzEyMDA7MTkyNTszMDAy" width="50" height="50">
      <div class="caption">
        <h3>MID90S</h3>
        <p>Mid90s follows Stevie, a thirteen-year-old in 90s-era LA who spends his summer navigating between his troubled home life and a group of new friends that he meets at a Motor Avenue skate shop.<br>
Rating: R (for pervasive language, sexual content, drug and alcohol use, some violent behavior/disturbing images - - all involving minors)<br>
Genre:  Comedy<br>
Directed By:  Jonah Hill<br>
Written By: Jonah Hill<br>
In Theaters:  Oct 26, 2018  Wide<br>
Runtime:  84 minutes<br>
Studio: A24</p>
        <p><a href="https://www.bilibili.com/video/av33667510/" role="button">Preview</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/qwwIlYfTOcMbw-CoNMCwTK9yENY=/206x305/v1.bTsxMjc5MTI0MjtqOzE3OTIzOzEyMDA7MTA4MDsxMzUw" width="50" height="50">
      <div class="caption">
        <h3>GOOSEBUMPS 2: HAUNTED HALLOWEEN</h3>
        <p>Slappy is back to wreak more havoc this Halloween in a brand-new comedy adventure based on R.L. Stine's 400-million-selling series of books.<br>
Rating: PG (for scary creature action and images, some thematic elements, rude humor and language)<br>
Genre:  Comedy, Horror, Kids & Family<br>
Directed By:  Ari Sandel<br>
Written By: Rob Lieber<br>
In Theaters:  Oct 12, 2018  Wide<br>
Runtime:  100 minutes<br>
Studio: Columbia Pictures</p>
        <p><a href="https://www.youtube.com/watch?v=iUm2FikfDps" role="button">Preview</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/B1uOVhpHBN0h9b0bSiQdoEja4hk=/206x305/v1.bTsxMjg1MDgwODtqOzE3OTIzOzEyMDA7ODAwOzEyMzM" width="50" height="50">
      <div class="caption">
        <h3>HUNTER KILLER</h3>
        <p>Deep under the Arctic Ocean, American submarine Captain Joe Glass (Gerard Butler, Olympus Has Fallen, 300) is on the hunt for a U.S. sub in distress when he discovers a secret Russian coup is in the offing, threatening to dismantle the world order. Captain Glass must now assemble an elite group of Navy SEALs to rescue the kidnapped Russian president and sneak through enemy waters to stop WWIII.<br>
Rating: R (for violence and some language)<br>
Genre:  Action & Adventure, Drama, Mystery & Suspense<br>
Directed By:  Donovan Marsh<br>
Written By: Jamie Moss, Arne Schmidt<br>
In Theaters:  Oct 26, 2018  Wide<br>
Runtime:  120 minutes<br>
Studio: Summit Premiere</p>
        <p><a href="https://www.youtube.com/watch?v=ayipJMYeB-I" class="btn btn-primary" role="button">Preview</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}