{% extends 'model.html' %}
 

 {% block title %}Main-page{% endblock %}
 {% block container %}
<div class="row" style="align-items: center">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/7fd21ganVJhb50-Ifjz_p-gWj-4=/206x305/v1.bTsxMjgyMjQ5MztqOzE3ODc4OzEyMDA7Mjc2NDs0MDk2" width="150",length="150">
      <div class="caption">
        <h3>CRAZY RICH ASIANS</h3>
        <p></p>
        <p><a href="https://www.youtube.com/watch?v=yvONWD8toB4" class="btn btn-default" role="button" style="align-items: center">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/WIgC0MrDnGjV_Kftf7AGohzlI4I=/206x305/v1.bTsxMjgxODk5NjtqOzE3OTIzOzEyMDA7MTAxNDsxNTAw"width="150",length="150">
      <div class="caption">
        <h3>THE NUTCRACKER AND THE FOUR REALMS</h3>
        <p></p>
        <p><a href="https://www.youtube.com/watch?v=-gzN5RYi2eM" class="btn btn-default" role="button" style="align-items: center">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/krt5gYzWeBm3mUO8DaW0_CVQ5h4=/206x305/v1.bTsxMjc0MjEwMTtqOzE3OTIyOzEyMDA7ODE5OzEwMjQ" width="150",length="150">
      <div class="caption">
        <h3>BOHEMIAN RHAPSODY</h3>
        <p></p>
        <p><a href="https://www.youtube.com/watch?v=pxvT_4JWHvE" class="btn btn-default" role="button" style="align-items: center">View</a></p>
      </div>
    </div>
  </div>
</div>
     <div class="row" style="align-items: center">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/T-ljoZgAtQcdz7iQdGSaKUwBAJ4=/206x305/v1.bTsxMjcwMzkxNztqOzE3OTIyOzEyMDA7MzE1ODs1MDAw" width="150",length="150">
      <div class="caption">
        <h3>NIGHT SCHOOL</h3>
        <p></p>
        <p><a href="https://www.bilibili.com/video/av21640837/" class="btn btn-default" role="button" style="align-items: center">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/u84C1nAeEvYPYQDXDNKm6-ewDJk=/206x305/v1.bTsxMjgyMzMzODtqOzE3OTIzOzEyMDA7MzE1ODs1MDAw" width="150",length="150">
      <div class="caption">
        <h3>GREEN BOOK</h3>
        <p></p>
        <p><a href="https://www.bilibili.com/video/av29439399/" class="btn btn-default" role="button" style="align-items: center">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/AasnsXGQQ1Tq99fJvAEscsO6Tpo=/206x305/v1.bTsxMjcwOTMwMDtqOzE3ODc3OzEyMDA7MTk0NDsyODgw" width="150",length="150">
      <div class="caption">
        <h3>THE WIFE</h3>
        <p></p>
        <p><a href="https://www.bilibili.com/video/av22132648/" class="btn btn-default" role="button" style="text-align: center">View</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}